In [2]:
import pandas as pd

In [3]:
df = pd.load("test.csv")

AttributeError: module 'pandas' has no attribute 'load'

In [5]:
df = pd.read_csv('test.csv')

In [6]:
df

   a  b  c  d  e
0  1  2  3  4  5
1  6  7  8  9  0

In [7]:
df.transpose()

   0  1
a  1  6
b  2  7
c  3  8
d  4  9
e  5  0

In [8]:
tdf = df.transpose()

In [9]:
tdf

   0  1
a  1  6
b  2  7
c  3  8
d  4  9
e  5  0